

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* AppSatori stylesheet */



body {
background-image: url("../img/gddwall_header.png");
background-repeat: no-repeat;
background-position: left top;
font-family: "Open Sans";
}

.container {
width: 1250px;
margin: 0 auto;
order: 2px solid green;
padding: 20px;
}


#monitor {
background-image: url("../img/gddwall_monitor3.png");
background-repeat: no-repeat;
background-position: left top;
order: 1px solid red;
display: block;
height: 685px;
padding: 10px;
position: relative;
display: block;
width: 800px;
float: left;
}


#monitor h2 {
margin-left: 30px;
margin-bottom: 0px;
}

#canvasDiv {
margin-left: 150px;
margin-top: 42px;
}


#korunka {
position: absolute;
top: 20px;
right: 70px;
}



#playersList {
position: absolute;
top: 56px;
width: 130px;
right: 25px;
margin-left: 10px;
text-align: center;
}


#playersList div:first-child img {
border: 5px solid #e1b800;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

#playersList img {
border: 4px solid white;
margin-left: 5px;
}

#playersList em {
font-size: 60%;
margin: 0 auto;
}

h3 {
position: absolute;
bottom: 90px;
left: 90px;
font-weight: 100;
font-size: 130%;
}

h3 strong {
font-weight: 900;
}



#mobile {
background-image: url("../img/gddwall_mobile.png");
background-repeat: no-repeat;
background-position: left top;
order: 1px solid blue;
width: 370px;
height: 690px;
position: relative;
float: left;
margin-left: 35px;
}


#screen {
margin-top: 75px;
margin-left: 20px;
display: block;
width: 316px;
height:520px;
order: 1px solid green;
overflow: hidden;
}

 



#screen img {
border: 4px solid white;
}


.king {
background-color: #FAEFBE;
color: #B59400;
}

.king img {
border: 4px solid #e1b800!important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}






.gdd {
background-color: #E6F3FC;
color: #0053ab;
}


.gdd img {
border: 4px solid #0053ab!important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}





 



.tweet img {
float: left;
}

.tweet {
	font-size: 90%;
	border-bottom: 1px solid #F2F2F2;
}

.tweet p {
	max-height: 150px;
	overflow: hidden;	
}

.google-logo {
background:url("../img/google_icon.png") no-repeat 0 0;
background-position: right top;
}

.twitter-logo{
background:url("../img/twitter_icon.png") no-repeat 0 0;
background-position: right top;
}

#screen p {
display: block;
margin-left: 43px;
}


#gradient {
position: absolute;
bottom: 100px;
left: 18px;
order: 1px solid red;
z-index: 10;
}



h1 {
display: none;
}


